<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Search Page</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <style>
      * {
        box-sizing: "border-box";
        margin: 0;
        padding: 0;
      }
      body {
        background-image: url("../static/images/background.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
      }
    </style>
  </head>
  <body>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarTogglerDemo01"
          aria-controls="navbarTogglerDemo01"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <a href="/"
            ><img
              src="{{ url_for('static', filename = 'images/bloglite.gif') }}"
              class="navbar-brand"
              width="200"
              height="60"
          /></a>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/profile"
                >Profile</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/post"
                >New Post</a
              >
            </li>
          </ul>
          <a class="btn btn-primary" href="/logout">Logout</a>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <header class="text-center">
        <h2 class="text-warning display-1">Search</h2>
      </header>
    </div>
    <section
      class="container my-5 w-50 p-5 text-black bg-secondary bg-gradient border border-primary-subtle rounded-3"
    >
      <form class="d-flex" role="search" action="/search" method="POST">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
          name="key"
          required
        />
        <button class="btn btn-danger" type="submit">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-search"
            viewBox="0 0 16 16"
          >
            <path
              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
            /></svg
          >Search
        </button>
      </form>
    </section>
    {% if users %}
    <section
      class="container my-5 w-50 p-5 text-black bg-secondary bg-gradient border border-primary-subtle rounded-3"
    >
      <h4 class="text-warning">Here are some results for "{{key}}"</h4>
      {% for user in users %}{% if user != current_user %}
      <div>
        <h5>
          Username :
          <a href="/profile/{{user.username}}" class="link-light">
            {{user.username}}
          </a>
        </h5>
        <h7
          >Name : {{user.first_name}} {{user.last_name}} {% if
          current_user.is_following(user) %}</h7
        >
        <a
          href="/unfollow/{{user.username}}"
          class="btn btn-danger rounded-5 float-end"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-person-dash-fill"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M11 7.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5z"
            />
            <path
              d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"
            />
          </svg>
          Unfollow</a
        >
        {% else %}
        <a
          href="/follow/{{user.username}}"
          class="btn btn-success rounded-5 float-end"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-person-plus"
            viewBox="0 0 16 16"
          >
            <path
              d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"
            />
            <path
              fill-rule="evenodd"
              d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"
            />
          </svg>
          Follow</a
        >
        {% endif %}
      </div>

      <hr />

      {% endif %}{% endfor %}{% elif no_match == none %}
      <section
        class="container my-5 w-50 p-5 text-black bg-secondary bg-gradient border border-primary-subtle rounded-3"
      >
        <h3 class="text-warning text-center">
          No match found for username "{{key}}"
        </h3>
      </section>
      {% endif %}
    </section>
  </body>
</html>
